* {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin: 0px;
}


.caja {
    border: 1px solid orange;
    margin: 10px;
    /*margenes par los 4 lados */
}

.caja1 {
    border: 1px dotted blueviolet;
    margin-left: 10px;
    margin-right: 10px;
}

.caja2 {
    width: 300px;
    border: 1px dashed #f00234;
    margin: 10px 30px;
}

.caja3 {
    margin: 10px 30px 15px 12px;
    border: 5px dashed greenyellow;
    margin: 30px;
}

.caja4 {
    padding: 50px;/*las letras se comodan hhace al fondo*/
    border: 1px solid blue;
    width: 500px;
}
.caja5{
    background-color: turquoise;
    width: 50%;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 18px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 36px;
}
.caja6{
background-color: #e5cc0e;
color: white;
width: 50%;
margin:10px;
padding: 10px;
border-radius: 10px 25px 15px 7px;
}
.caja7{
background-color: pink;
color: white;
width: 50%;
margin:10px;
padding: 10px;
border-radius: 10px 25px 15px 7px;
box-shadow: -10px -5px #a2d917 inset;
/*si es positivo se pondra asi 10px 5px */
/* si es negativo cambia deposision  -10px -5px */

}